html,body{
	height:100%;
}
body {
background-color:#232C31;	
margin-right:0px;
}

.updates {
	float:left;
	height: 100%;
	width:25%;
  background-color:#232C31;
  overflow-y: scroll;
}

.up {
	background-color:#d3d3d3;
}

a {
	background-color:#FFFFFF;
	color:#000000;
	text-decoration:none
}
.display {
	float:right;
  	width: 75%;
height:80%;
}

.data {
	height:15%;
	width: 75%;
	float:right;
}

.small p {
	display:none;
}
.hidden {
	display:none;
}

.up h2 {
	margin-bottom:0px;
}
.up h3 {
	margin-top: 0px;
}
.menu {
background-color:#898989;
border-color:black;
border-style:solid;
border-top-width:3px;
border-bottom-width:3px;
}


.menu li {
  display: inline;
  margin-left:20px;
  margin-top:2%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #898989;
  list-style: none;
  margin-top: 15px;
}

.menu .highlight {
	background-color:#d3d3d3;
}

.subContent {
	width:75%;
	background-color:#232C31;
	color:white;

}
.subContent li {
	margin-left:5%;
}