html,body{
	height:100%;
}

body {
background-color:#232C31;	
margin-right:0px;
color:#b4b79a;
}

.intro {
text-align:center;
}

.map {
	float:right;
  	width: 100%;
    height:100%;
}


.pop-up-message{
    white-space:nowrap;
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);    
    transform:translateX(100%);
    /* Apply animation to this element */  
    -moz-animation: pop-up-message 25s linear infinite;
    -webkit-animation: pop-up-message 25s linear infinite;
    animation: pop-up-message 25s linear infinite;
}
@-moz-keyframes pop-up-message {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes pop-up-message {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes pop-up-message {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%);       
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
}

.report{
border-style:outset;
width:70%;
margin-left:15%;
display:block;
	margin-top:15%;
	text-align:center;
	background-color:#232c31;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -3;
}

.overlay {
    display:none;
position:absolute;
z-index:3;
    /* color with alpha channel */
    background-color: rgba(0, 0, 0, 0.7); /* 0.7 = 70% opacity */

    /* stretch to screen edges */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#achievementsList {
    text-align:left;
}

#help p  {
margin-left:1%;
    text-align:left;
}
#help li  {
    margin-left:5%;
    text-align:left;
}