html,body{
	height:100%;
}

body {
background-color:#232C31;	
margin-right:0px;
color:#b4b79a;
}

.intro {
text-align:center;
}

.map {
	float:right;
  	width: 100%;
height:80%;
}

.navbar {
margin-bottom:0px;
}

.report{
border-style:outset;
width:70%;
margin-left:15%;
display:block;
	margin-top:15%;
	text-align:center;
	background-color:#232c31;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -3;
}

.overlay {
    display:none;
position:absolute;
z-index:3;
    /* color with alpha channel */
    background-color: rgba(0, 0, 0, 0.7); /* 0.7 = 70% opacity */

    /* stretch to screen edges */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}